h1 {
    color: green;
}
#profilePic{
    width: auto;
    height: 100px;
    margin: 25px 25px 40px 25px;
}
body {
    text-align: center;
    Border: 1px solid blue;
    background-color: black;
    margin: auto;
    width: fit-content;
}

h2 {
    color: red;
    margin-top: 50px;
}

.contact {
    margin-bottom:1px;
}